.collapse {
  border-radius: 0.5rem !important;
}
.collapse-title {
  padding: 0.5rem 1rem !important;
  min-height: 1rem !important;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
}
.collapse-plus > .collapse-title:after {
  height: auto !important;
  top: auto !important;
}
